
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    background-color: rgb(238, 238, 238);
    border-top: 0px;
    border-bottom: 0px;
    min-width: 250px;
}

.ContentBox {

    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
}

.HeaderBox {
    width: 100%;
    /* Évite les hauteurs fixes ici pour que ça s'adapte aux petits écrans */
}

button {

    color: black;
    border-color: black;
    background-color: white;
    border-style: solid;

}

button:hover {

    border-radius: 15px;
    background-color: rgb(224, 224, 224);

}

.ListButtonBox {

    display: flex;
    gap: 3px;
    width: 100%;
    justify-content: center;
    background-color: gray ;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
    min-width: 300px;




}

.ListButton {

    background-color: rgb(235, 235, 235);
    border-radius: 7px;
    width:50%;
    height: 10dvh;
    font-size: 2.3dvh;
    font-weight: bold;
    min-width: 140px;

}

.GameModeButtonBox {

    display: flex;
    flex-direction: row;
    background-color: rgb(238, 238, 238);
    border: 2px solid darkgray;
    border-right: 0px;
    border-left: 0px;
    width: 100%;
    justify-self: center;
    align-items: center;
    justify-content: center;
    gap:1px;

}

.GameModeButton {

    display: flex;
    height: 45px;
    width: 130px;
    border-radius: 5px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
}

.ProgressBox {

    margin-top: 2dvh;
    display: flex;
}


.GameLengthBox {

    display: flex;
    flex-direction: row;
    gap: 3px;

}

.GameLengthButtonBox {

    display: flex;
    align-items: center;
    justify-content: center;

}

.GameLengthButton {

    height: 4dvh;
    width: 6dvh;
    font-size: 2dvh;
}

.GameProgress {
    font-size: 5dvh;
    display: flex;

}


.GameMode{

    font-size: 3dvh;
    display: flex;

}

.AllWordBox {

    display: flex;
    flex-direction: column;
    margin-top: 3dvh;
    align-items: center;
    justify-content: center;
    gap: 1dvh;

}

.PreviousWord {

    font-size: 2.5dvh;
    color: rgb(107, 107, 107);
    
}

.LastWord {

    color: rgb(62, 62, 62);
    font-size: 3dvh;
    border: 3px double rgb(185, 185, 185);
    padding: 5px;
    background-color: rgb(248, 248, 248);
    word-wrap: break-word;
    white-space: normal;
    max-width: 350px;
    text-align: center;


}

.WordBox {

    margin-top: 3dvh;
    margin-bottom: 4dvh;
    font-size: 4.5dvh;
    border: 5px double black;
    background-color: white;
    padding: 2dvh;
    word-wrap: break-word;
    white-space: normal;
    max-width: 350px;
    text-align: center;

}

.AnswerBox {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    gap: 0.3dvh;

}

.SkipButton{

    width: 35%;
    height: 3.5dvh;
    font-size: 2dvh;
    border-radius: 5px;

}

.InputBox {

    width: 85%;
    height: 4dvh;
    font-size: 3dvh;
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;

}

.HistoriqueBox {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2dvh;


}

.SkipHistory{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 32dvh;
    text-align: center;
    font-size: 2.4dvh;

}

.BonneReponse {

    background-color:rgba(67, 220, 67, 0.933);
    border: 1px solid black;

}

.SkipReponse {

    background-color: rgba(228, 16, 16, 0.785);
    border: 1px solid rgb(0, 0, 0);
    
}
/*
.GameProgressBarBox {

    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction:row;
    justify-self: center;
    width: 75%;
    height: 20%;
    height: 100px;

}

.GameProgressBar {

    display: flex;
    color:transparent;
    border: 3px solid transparent;
    padding: 2px;
    max-width: 525px;
    flex-wrap: wrap;
    gap:2px;


}

.BonneReponseSquare {

    display: flex;
    border: 2px solid black;
    background-color: green; 
    height: 15px;
    width: 15px;

}

.SkipReponseSquare {


    display: flex;
    border: 2px solid black;
    background-color: red;
    height: 15px;
    width: 15px;
}

*/              /*--------------------------MENUS----------------------*/


.ListButtonInMenu {

    font-size: 3.5dvh;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 5px;

} 

.SeeListConteneur {

    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    align-self: center;
    justify-content: center;
    top: 10%;


}

.SeeListBox {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    width: 80%;
    max-width: 500px;
    border: 5px solid black;
    padding: 10px;
    min-width: 300px;
    
    background-color: white;
    justify-self: center;
    top: 0px;
    justify-content: center;
    overflow-y: auto;
    margin: 0px;

}

.SeeListButtonBox {

    display: flex;
    justify-content: center;
    align-self: center;
    overflow-y: auto;
    gap: 3px;
    padding: 3px;
    border: 2px solid black;
    border-radius: 4px;
    width: 80%;
    max-width: 100%;
    flex-wrap: wrap;
    max-height: 21dvh;

}

.AddWordInput {

    display: flex;
    border: 2px solid black;
    font-size: 2dvh;
    width: 50%;
    align-self: center;
    text-align: center;

}

.SeeListWordsBox {

    margin-top: 10px;
    font-size: 2.3dvh;
    max-height: 60dvh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.SeeListWordTable {

    display: flex;
    flex-wrap: wrap;
    height: auto;
    text-align: center;
    background-color: gray;
    border-radius: 5px;

}

.SeeListWordTable th {

    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(232, 232, 232);

}

.SeeListWordTable td {

    border: 2px solid black;
    background-color: rgb(241, 241, 241);
    word-break: break-all;
}

.DeleteWordButton {

    width: 5dvh;
    font-size: 2dvh;


}

.PageOpacitor {

    background-color: black;
    position: fixed; /* Reste en place même si on scrolle */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4); /* Plus propre que l'opacity séparée */
    z-index: 0;
    margin: 0;
    user-select: none;
    display: block;

}
