
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button:hover {

    border-radius: 7px;
    background-color: rgb(224, 224, 224);

}


.BonneReponse {

    color:green;
}

.SkipReponse {

    color: red;
    
}

.GameProgressBarBox {

    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction:row;
    justify-self: center;
    width: 75%;
    height: 20%;
    height: 100px;

}

.GameProgressBar {

    display: flex;
    color:transparent;
    border: 3px solid transparent;
    padding: 2px;
    max-width: 525px;
    flex-wrap: wrap;
    gap:2px;


}

.BonneReponseSquare {

    display: flex;
    border: 2px solid black;
    background-color: green; 
    height: 15px;
    width: 15px;

}

.SkipReponseSquare {


    display: flex;
    border: 2px solid black;
    background-color: red;
    height: 15px;
    width: 15px;
}


.ListButtonInMenu {

    font-size: 25px;
    display: flex;

} 



.SeeListConteneur {

    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: center;
    top: 20%;
     

}


.SeeListBox {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    max-width: 300px;
    border: 5px solid black;
    padding: 10px;
    background-color: white;
    justify-self: center;
    top: 0px;
}

.SeeListButtonBox {

    display: flex;
    justify-content: center;
    align-self: center;
    gap: 3px;
    padding: 3px;
    border: 2px solid black;
    border-radius: 4px;
    width: fit-content;
    max-width: 525px;
    flex-wrap: wrap;


}


.SeeListWordsBox {

    margin-top: 10px;


}

.PageOpacitor {

    background-color: black;
    opacity: 40%;
    width: 150%;
    margin: 0;
    position: absolute;
    height:160ch;
    top: -300px;
    left: -110px;
    user-select: none;

}