
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-appearance: none;
    appearance: none;
}

.ContentBox {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.HeaderBox {
    width: 100%;
    /* Évite les hauteurs fixes ici pour que ça s'adapte aux petits écrans */
}

button {

    color: black;
    border-color: black;
    border-style: solid;

}

button:hover {

    border-radius: 15px;
    background-color: rgb(224, 224, 224);

}

.ListButtonBox {

    display: flex;
    gap: 3px;
    width: 100%;
    justify-content: center;


}

.ListButton {

    background-color: rgb(235, 235, 235);
    border-radius: 7px;
    width:50%;
    height: 10dvh;
    font-size: 2.3dvh;
    font-weight: bold;
    min-width: 140px;

}

.GameModeButtonBox {

    display: flex;
    width: 100%;
    justify-content: center;


}

.ProgressBox {

    margin-top: 2dvh;
    display: flex;
}


.GameLengthBox {

    display: flex;
    flex-direction: row;
    gap: 3px;

}

.GameLengthButtonBox {

    display: flex;
    align-items: center;
    justify-content: center;

}

.GameLengthButton {

    height: 4dvh;
    width: 6dvh;
    font-size: 2dvh;
}

.GameProgress {
    font-size: 5dvh;
    display: flex;

}


.GameMode{

    font-size: 3dvh;
    display: flex;

}

.AllWordBox {

    display: flex;
    flex-direction: column;
    margin-top: 3dvh;
    align-items: center;
    justify-content: center;
    gap: 1dvh;

}

.PreviousWord {

    font-size: 2.5dvh;
    color: rgb(107, 107, 107);
    
}

.LastWord {

    color: rgb(62, 62, 62);
    font-size: 3dvh;
    border: 3px double rgb(185, 185, 185);
    padding: 5px;



}

.WordBox {

    margin-top: 3dvh;
    margin-bottom: 4dvh;
    font-size: 4.5dvh;
    border: 5px double black;
    padding: 2dvh;

}

.AnswerBox {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    gap: 0.3dvh;

}

.SkipButton{

    width: 35%;
    height: 3.5dvh;
    font-size: 2dvh;
    border-radius: 5px;

}

.InputBox {

    width: 85%;
    height: 4dvh;
    font-size: 3dvh;
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;

}

.HistoriqueBox {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2dvh;


}

.SkipHistory{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 32dvh;
    text-align: center;
    font-size: 2.4dvh;

}

.BonneReponse {

    background-color:rgba(67, 220, 67, 0.933);
    border: 1px solid black;

}

.SkipReponse {

    background-color: rgba(228, 16, 16, 0.785);
    border: 1px solid rgb(0, 0, 0);
    
}
/*
.GameProgressBarBox {

    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction:row;
    justify-self: center;
    width: 75%;
    height: 20%;
    height: 100px;

}

.GameProgressBar {

    display: flex;
    color:transparent;
    border: 3px solid transparent;
    padding: 2px;
    max-width: 525px;
    flex-wrap: wrap;
    gap:2px;


}

.BonneReponseSquare {

    display: flex;
    border: 2px solid black;
    background-color: green; 
    height: 15px;
    width: 15px;

}

.SkipReponseSquare {


    display: flex;
    border: 2px solid black;
    background-color: red;
    height: 15px;
    width: 15px;
}

*/
.ListButtonInMenu {

    font-size: 4dvh;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 5px;

} 



.SeeListConteneur {

    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: center;
    top: 20%;
    min-width: 500px;

     

}


.SeeListBox {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    width: 80%;
    max-width: 500px;
    border: 5px solid black;
    padding: 10px;
    background-color: white;
    justify-self: center;
    top: 0px;
    justify-content: center;
    max-height: 85vh;       /* INDISPENSABLE : Empêche le menu de sortir de l'écran (85% de la hauteur) */
    overflow-y: auto;

}

.SeeListButtonBox {

    display: flex;
    justify-content: center;
    align-self: center;
    overflow-y: auto;
    gap: 3px;
    padding: 3px;
    border: 2px solid black;
    border-radius: 4px;
    width: 80%;
    max-width: 100%;
    flex-wrap: wrap;
    height: 13dvh;

}

.AddWordInput {

    display: flex;
    border: 2px solid black;
    font-size: 2dvh;
    width: 50%;
    align-self: center;
    text-align: center;

}

.SeeListWordsBox {

    margin-top: 10px;
    font-size: 2.3dvh;
    max-height: 60dvh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.SeeListWordTable {

    display: flex;
    flex-wrap: wrap;
    height: auto;
    text-align: center;
    background-color: gray;
    border-radius: 5px;

}

.SeeListWordTable th {

    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(232, 232, 232);

}

.SeeListWordTable td {

    border: 2px solid black;
    background-color: rgb(241, 241, 241);

}

.DeleteWordButton {

    width: 5dvh;
    font-size: 2dvh;


}

.PageOpacitor {

    background-color: black;
    position: fixed; /* Reste en place même si on scrolle */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4); /* Plus propre que l'opacity séparée */
    z-index: 0;
    margin: 0;
    user-select: none;
    display: block;

}

@media (min-width: 800px) {



    body {

        margin: 0;

    }

    .ContentBox {

        min-width: 600px;
        background-color: rgb(238, 238, 238);
        border: 100px solid rgb(209, 209, 209);
        border-top: 0px;
        border-bottom: 0px;
    }

    .HistoriqueBox {

        background-color: rgb(238, 238, 238);
        border: 100px solid rgb(209, 209, 209);

        border-top: 0px;
        border-bottom: 0px;
        margin: 0;
        height: 300px;
        max-height: 213px;
    }

    .ListButtonBox {

        background-color: gray;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 2px solid black;



    }

    .ListButton {

        font-size: 20px;
        height: 65px;
        width: 300px;

    }

    .GameModeButtonBox {

        background-color: rgb(238, 238, 238);
        border: 2px solid darkgray;
        border-right: 0px;
        border-left: 0px;
        width: 100%;
        justify-self: center;
        gap:1px;

    }

    .GameModeButton {

        height: 45px;
        width: 130px;
        border-radius: 5px;
        border: 2px solid black;
    }

    .AllWordBox {

        width: 100%;
        gap: 20px;
        margin-bottom: 20px;

       
    }

    .PreviousWordBox {

        display: flex;
        flex-direction: column;
        position: absolute;
        right: 114px;
        align-content: center;

    }

    .PreviousWord {
        text-align: center;
    }

    .LastWord {

        background-color: white;
        word-wrap: break-word;
        white-space: normal;
        max-width: 200px;
        text-align: center;

    }

    .WordBoxBox {
        
        padding: 80px;
        border: 8px double black;
        width: 30dvw;
        height: 5dvh;
        max-height: 10dvh;
        max-width: 30dvw;
        justify-items: center;
        align-content: center;
        position: relative;
        background-color: white;

    }

    .WordBox {

 
        align-self: center;
        justify-self: center;
        text-align: center;
        max-width: 200px;
        max-height: 15dvh;
        word-wrap: break-word;
        border: none;
        margin: 0;
        padding: 0;

        

    }
    


    .ListButtonInMenu {

        width: fit-content;
        height: fit-content;

    }



    
}