
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.ContentBox {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.HeaderBox {
    width: 100%;
    /* Évite les hauteurs fixes ici pour que ça s'adapte aux petits écrans */
}

button:hover {

    border-radius: 15px;
    background-color: rgb(224, 224, 224);

}

.ListButtonBox {

    display: flex;
    gap: 3px;
    width: 100%;
    justify-content: center;


}

.ListButton {

    background-color: rgb(235, 235, 235);
    border-radius: 7px;
    width:50%;
    height: 10dvh;
    font-size: 2.3dvh;
    font-weight: bold;
    min-width: 140px;

}

.GameModeButtonBox {

    display: flex;
    width: 100%;
    justify-content: center;


}

.ProgressBox {

    margin-top: 2dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GameProgress {
    font-size: 5dvh;
}


.GameMode{

    font-size: 3dvh;

}

.AllWordBox {

    display: flex;
    flex-direction: column;
    margin-top: 3dvh;
    align-items: center;
    justify-content: center;
    gap: 1dvh;

}

.PreviousWord {

    font-size: 2.5dvh;
    color: rgb(107, 107, 107);
    
}

.LastWord {

    color: rgb(62, 62, 62);
    font-size: 3dvh;
    border: 3px double rgb(185, 185, 185);
    padding: 5px;



}

.WordBox {

    margin-top: 3dvh;
    margin-bottom: 4dvh;
    font-size: 4.5dvh;
    border: 5px double black;
    padding: 7px;

}

.AnswerBox {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    gap: 0.3dvh;

}

.SkipButton{

    width: 35%;

}

.InputBox {

    width: 80%;
    height: 4dvh;
    font-size: 3dvh;
    text-align: center;

}

.HistoriqueBox {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2dvh;


}

.SkipHistory{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 28dvh;
    text-align: center;

    

}

.BonneReponse {

    background-color:rgba(67, 220, 67, 0.933);
    border: 1px solid black;
}

.SkipReponse {

    background-color: rgba(228, 16, 16, 0.785);
    border: 1px solid rgb(0, 0, 0);
    
}
/*
.GameProgressBarBox {

    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction:row;
    justify-self: center;
    width: 75%;
    height: 20%;
    height: 100px;

}

.GameProgressBar {

    display: flex;
    color:transparent;
    border: 3px solid transparent;
    padding: 2px;
    max-width: 525px;
    flex-wrap: wrap;
    gap:2px;


}

.BonneReponseSquare {

    display: flex;
    border: 2px solid black;
    background-color: green; 
    height: 15px;
    width: 15px;

}

.SkipReponseSquare {


    display: flex;
    border: 2px solid black;
    background-color: red;
    height: 15px;
    width: 15px;
}

*/
.ListButtonInMenu {

    font-size: 25px;
    display: flex;

} 



.SeeListConteneur {

    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: center;
    top: 20%;
     

}


.SeeListBox {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    max-width: 300px;
    border: 5px solid black;
    padding: 10px;
    background-color: white;
    justify-self: center;
    top: 0px;
}

.SeeListButtonBox {

    display: flex;
    justify-content: center;
    align-self: center;
    gap: 3px;
    padding: 3px;
    border: 2px solid black;
    border-radius: 4px;
    width: fit-content;
    max-width: 100%;
    flex-wrap: wrap;


}


.SeeListWordsBox {

    margin-top: 10px;


}

.PageOpacitor {

    background-color: black;
    position: fixed; /* Reste en place même si on scrolle */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4); /* Plus propre que l'opacity séparée */
    z-index: 0;
    margin: 0;
    user-select: none;

}